.editor{
    /* Matches terminal ace theme */
    background-color: none;
    display: flex;
    width: 100%;
    /* height: calc(100% - 60px); */
    height: calc(100% - 20px);
}
.editor_header_toolbar {
    background-color: transparent;
    display:flex;
    align-items: flex-end;
    width: 100%;
    height: 40px;
    margin-left: 5px;
    /* border: gray 1px solid; */
}

.editor_emulation_zone{
    width: auto;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    outline: rgb(172, 172, 172) 1px solid;
    outline-offset: 0px;
}

.editor_emulation_zone_name{
    width: 85px;
    height: 100%;
    background-color: #121212;
    font-family: "Comic Sans MS";
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editor_emulation_zone_checkbox_parent{
    width: 50px;
    height: 100%;
    background-color: #121212;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editor_emulate_checkbox{
    margin-top: 0.5px;
}

.editor .blocklySvg {
    background-color: #222;
}

.blocklyToolboxDiv,.blocklyFlyoutBackground {
    background-color: #444;
    fill: #444;
    color: #ddd;
}
